@import '../personnelshared.scss';

a.enabled {
    color: blue;
    cursor: pointer;    
}

::-webkit-scrollbar {
    width: 12px;
 }  

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 4px #49c107;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.3);
    border-radius: 5px;
}


.filterTable{
	margin-bottom: 8px;
}

.resultsTable{
	height:550px;
	overflow: auto;
	position: relative;

}

.cardName{
	margin:0.5rem;
}

.card {
    font-size: 14px;
    font-weight: bold;
    position: relative;
    margin-bottom: 0.75rem;
    border-radius: 0.25rem;
    width: 150px;
    box-shadow: -2px 4px 6px #C8C8C8;
    text-align:center;
    margin-top:0.75rem;
    height: 38px;
    line-height: 2.7;
}


.card:hover{
    box-shadow: -5px 7px 9px #C8C8C8;
    transform: scale(1.1);

}








