<!-- <div class="example-container mat-elevation-z8"> -->
	<div class="example-header">
		<mat-card class="filterTable"><mat-form-field>
			<input matInput #filter (keyup)="applyFilter($event.target.value)" placeholder="Filter">
			<button mat-icon-button matSuffix aria-label="clear" *ngIf="filter.value" (click)="filter.value=''; applyFilter('');">
        <mat-icon>close</mat-icon>
      </button>
		</mat-form-field>
	</mat-card>
	</div>
<mat-card>
	<mat-table #table [dataSource]="ds" class="resultsTable">

		<!-- Name Column -->
		<ng-container matColumnDef="name">
			<mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
			<mat-cell *matCellDef="let worker; let i=index"> <a class="enabled"(click)="workerInfo(worker, i)"><div class="card" [ngClass]="'personnel' + worker.section">{{worker.name}}</div></a> </mat-cell>
		</ng-container>

		<!-- Chart Group Column -->
		<ng-container matColumnDef="chartNum">
			<mat-header-cell *matHeaderCellDef> Chart Group </mat-header-cell>
			<mat-cell *matCellDef="let worker"> {{worker.chartNum}} </mat-cell>
		</ng-container>	

		<!-- Ref Column -->
		<ng-container matColumnDef="refNum">
			<mat-header-cell *matHeaderCellDef> Reference # </mat-header-cell>
			<mat-cell *matCellDef="let worker"> {{worker.reference}} </mat-cell>
		</ng-container>		

		<!-- Badge Column -->
		<ng-container matColumnDef="badge">
			<mat-header-cell *matHeaderCellDef> Badge </mat-header-cell>
			<mat-cell *matCellDef="let worker"> {{worker.badgeNumber}} </mat-cell>
		</ng-container>

		<!-- Section Column -->
		<ng-container matColumnDef="section">
			<mat-header-cell *matHeaderCellDef> Section </mat-header-cell>
			<mat-cell *matCellDef="let worker"> {{worker.section}} </mat-cell>
		</ng-container>

		<!-- Payroll Column -->
		<ng-container matColumnDef="homeLocation">
			<mat-header-cell *matHeaderCellDef> Payroll Location </mat-header-cell>
			<mat-cell *matCellDef="let worker"> {{worker.homeLocation}} </mat-cell>
		</ng-container>

		<!-- Quals Column -->
		<ng-container matColumnDef="quals">
			<mat-header-cell *matHeaderCellDef> Qualifications </mat-header-cell>
			<mat-cell *matCellDef="let worker"> {{worker.qualifications}} </mat-cell>
		</ng-container>

		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

				<!-- Charts Made Column -->
		<ng-container matColumnDef="chartsMade">
			<mat-header-cell *matHeaderCellDef> Charts Made </mat-header-cell>
			<mat-cell *matCellDef="let worker">
				<mat-form-field floatLabel="never">
					<input matInput matInput type="number" placeholder="Amount" [value]="worker.chartsMade" [(ngModel)]="worker.chartsMade">
				</mat-form-field>
			</mat-cell>
		</ng-container>


	</mat-table>
	<mat-paginator [pageSizeOptions]="[20, 10, 50]" showFirstLastButtons></mat-paginator>
</mat-card>
<!-- </div> -->


<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->





