<!-- <div class="contain-card"> -->
	<div class="cardContain"><div class = "backButton" (click)="onNoClick()">Back to Personnel</div>	


	<div class ="lgPersonnel" [ngClass]="'personnel' + data.perInfo.section">
		<div class="lgCardRow">
			<div class="topRowDetails">Chart: {{data.perInfo.chartNum}}</div>
			<div class="cardQuals">{{data.perInfo.qualifications.join(' - ')}}</div>
			<div class="topRowDetails">#123</div>
		</div>
		<div class="lgCardNameRow">{{data.perInfo.name}}</div>
		<div class="lgCardRow">
			<div class="bottomRowDetails">Appt. Date: {{data.perInfo.seniorityDate | date:'shortDate'}} </div>
			<div class="bottomRowDetails">List #: {{data.perInfo.listNumber}} </div>
			<div class="bottomRowDetails">Badge #: {{data.perInfo.badgeNumber}}</div>

		</div>
	</div>
	<!-- <div class="actionButton">Action</div> -->
	<div class="actionButtons">
		<div class="smallActionButton"><i class="material-icons">
			flight_takeoff
		</i> Detach</div>
		<div class="smallActionButton"><i class="material-icons">
			add_circle_outline
		</i>Unavailable</div>
		<div class="smallActionButton"><i class="material-icons">
			add_circle_outline
		</i>MDA</div>
		<div class="smallActionButton"><i class="material-icons">
			add_circle_outline
		</i>Special Position</div>
	</div>

</div>

<mat-card style="margin-bottom: 5px;height:25% ">
	<mat-tab-group>
		<mat-tab>
			<ng-template mat-tab-label>
				<mat-icon class="example-tab-icon">person</mat-icon>
				Employee Information
			</ng-template>
			<div style="height:5px;"></div>

			<div class="employeeInfoHead">
				Employee Name
			</div>
			<div class="employeeInfoHead">
				Civil Service Title:
			</div>
			<div class="employeeInfoHead">
				Reference Number
			</div>
			<div class="employeeInfoHead">
				Payroll Location
			</div>
			<div class="employeeInfoContent">
				{{data.perInfo.name}}
			</div>
			<div class="employeeInfoContent">
				{{data.perInfo.civilServiceTitle}}
			</div>
			<div class="employeeInfoContent">
				{{data.perInfo.reference}}
			</div>
			<div class="employeeInfoContent">
				{{data.perInfo.homeLocation}}{{data.perInfo.section}}
			</div>
			<div class="employeeInfoHead">
				Hire Date
			</div>
			<div class="employeeInfoHead">
				Appointment Date
			</div>
			<div class="employeeInfoHead">
				Seniority Date
			</div>
			<div class="employeeInfoHead">
				List Number
			</div>
			<div class="employeeInfoContent">
				{{data.perInfo.hireDate| date:'shortDate'}}
			</div>
			<div class="employeeInfoContent">
				{{data.perInfo.promotionDate| date:'shortDate'}}
			</div>
			<div class="employeeInfoContent">
				{{data.perInfo.seniorityDate| date:'shortDate'}}
			</div>
			<div class="employeeInfoContent">
				{{data.perInfo.listNumber}}
			</div>
			<div class="employeeInfoHead">
				Badge Number
			</div>
			<div class="employeeInfoHead">
				Chart Number 
			</div>
			<div class="employeeInfoHead">
				Charts Charged
			</div>
			<div class="employeeInfoHead">
				Medical Leave Category
			</div>
			<div class="employeeInfoContent">
				{{data.perInfo.badgeNumber}}
			</div>
			<div class="employeeInfoContent">
				{{data.perInfo.chartNum}}
			</div>
			<div class="employeeInfoContent">
				{{data.perInfo.chartsMade}}
			</div>
			<div class="employeeInfoContent">
				{{data.perInfo.hrmsDetail.categoryCode}}
			</div>
			<div class="employeeInfoHead">
				Qualifications
			</div>
			<div class="employeeInfoHead">
				
			</div>
			<div class="employeeInfoHead">
				
			</div>
			<div class="employeeInfoHead">
				
			</div>
			<div class="employeeInfoContent">
				{{data.perInfo.qualifications}}
			</div>

		</mat-tab>

		<mat-tab>
			<ng-template mat-tab-label>
				<mat-icon class="example-tab-icon">phone</mat-icon> Contact Information
			</ng-template>
			<div class="employeeInfoHead">
				Street Address
			</div>
			<div class="employeeInfoHead">
				City
			</div>
			<div class="employeeInfoHead">
				State
			</div>
			<div class="employeeInfoHead">
				Zip Code
			</div>
			<div class="employeeInfoContent">
				{{data.perInfo.addresses[0].line1}}
			</div>
			<div class="employeeInfoContent">
				{{data.perInfo.addresses[0].city}}
			</div>
			<div class="employeeInfoContent">
				{{data.perInfo.addresses[0].state}}
			</div>
			<div class="employeeInfoContent">
				{{data.perInfo.addresses[0].postalCode}}
			</div>
			<div class="employeeInfoHead">
				Residence Zone
			</div>
			<div class="employeeInfoHead">
				Residence District 
			</div>
			<div class="employeeInfoHead">
				Phone Number
			</div>
			<div class="employeeInfoHead">
				Alternate Phone Number
			</div>
			<div class="employeeInfoContent">
				{{data.perInfo.hrmsDetail.residenceZone}}
			</div>
			<div class="employeeInfoContent">
				{{data.perInfo.hrmsDetail.residenceDistrict}}
			</div>
			<div class="employeeInfoContent">
				{{data.perInfo.phones[0].phone}}
			</div>
			<div class="employeeInfoContent">
				{{data.perInfo.hrmsDetail.phoneNumber}}
			</div>
		</mat-tab>


	</mat-tab-group>
</mat-card>


<mat-card style="height:35%">

	<h4 style="margin-bottom: 0px;">Record History</h4>


	<mat-tab-group class="demo-tab-group">
		<mat-tab label="Unavailability">
			<div class="example-container mat-elevation-z8">
				<button mat-icon-button class="button custom-button" (click)="addChart()"><mat-icon color="primary">add_box</mat-icon></button>
				<mat-table #table [dataSource]="uTable">

					<mat-header-row *matHeaderRowDef="uTabledisplayedColumns">WTFFFFFFFFF</mat-header-row>
					<mat-row *matRowDef="let row; columns: uTabledisplayedColumns;"></mat-row>

					<ng-container matColumnDef="date">
						<mat-header-cell *matHeaderCellDef>Chart Date</mat-header-cell>
						<mat-cell *matCellDef="let worker; let i=index">
							{{worker.date | date:'shortDate'}} 
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="ccFor">
						<mat-header-cell *matHeaderCellDef> Chart Change From</mat-header-cell>
						<mat-cell *matCellDef="let worker">
							{{worker.ccFrom | date:'shortDate'}} 
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="cancel">
						<mat-header-cell *matHeaderCellDef>Cancel/Reinstate</mat-header-cell>
						<mat-cell *matCellDef="let worker; let i=index">
							<mat-slide-toggle (change)="onToggleChart($event, worker, i)" [checked]="worker.cancelled"></mat-slide-toggle>
						</mat-cell>
					</ng-container>

				</mat-table>
			</div>
		</mat-tab>
		<mat-tab label="Detachment">
			<div>

			</div>
			Detachment Table Here
		</mat-tab>


		<mat-tab label="MDA">
			<div>
				MDA Table Here
			</div>
		</mat-tab>
		<mat-tab label="Special Position">
			<div>

			</div>
			Special Position Table Here
		</mat-tab>
		<mat-tab label="Grounding">
			<div>

			</div>
			Grounded Table Here
		</mat-tab>

	</mat-tab-group>



