@import '../personnelshared.scss';

.card {
            display: inline-block;
            position: relative;
            background-color: white;
            height: 315px;
            display: flex;
            margin: 2px;
            text-align:center;
}

.col {
    box-sizing: border-box;
    width: 50%;
  }

.contain-card {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            max-width: 1576px;
        }

.custom-button{
    position: absolute;
  right: 0px;
  top: 0px;
}

.lgPersonnel{
    text-align: center;
    height: 200px;
    position: relative;
    width:600px;
    border-radius: .5rem;
    box-shadow: 0px 6px 8px #c8c8c8;
    left:7%;
    display: inline-block;


}

.cardContain{
    width:100%;
    height:27%;
    margin-bottom: 10px;
    display: inline-block;
}

.actionButtons{
    margin-top: 10px;
    height:35px;
    width:589px;
    position: relative;
    left: 22%;
}

.smallActionButton{
    color:#006400;
    float:left;
    width: 137px;
    height: 95%;
    margin-right: 5px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    line-height: 2;
    font-size:14px;

}

.smallActionButton:hover{
    background-color: #E0EEE0 ;
    cursor: pointer;  
}


.lgCardNameRow{
    width: 100%;
    height:50%;
    position: relative;
    font-family: Helvetica,sans-serif;
    font-size: 55px;
    font-weight: bold;
    line-height: 1.8;
    
}

.lgCardRow{
    width: 100%;
    height:25%;
    position: relative;
    
}

.topRowDetails{
    height: 100%;
    width:30%;
    float: left;
    position:relative;
    font-family: sans-serif;;
    font-size: 22px;
    line-height: 3;

}

.bottomRowDetails{
    height: 100%;
    width:33.3%;
    float: left;
    position:relative;
    font-family: sans-serif;;
    font-size: 18px;
    line-height: 2;

}

.cardQuals{
    height: 100%;
    width:40%;
    float: left;
    position:relative;
    font-family: sans-serif;;
    font-size: 18px;
    line-height: 4;
}

.employeeInfoHead{
    width: 25%;
    position: relative;
    height: 24px;
    float: left;
    text-align: left;
    line-height: 2;
    color:#999999;
    font-weight: bold;
    font-size: 13px;

}

.employeeInfoContent{
    width: 25%;
    position: relative;
    height: 23px;
    float: left;
    text-align: left;
    line-height: 1;
    font-size: 15px;
}

