<mat-form-field>
  <mat-select placeholder="Select District" [(value)]="selectedDistrict" (selectionChange)="getData()">
    <mat-option *ngFor="let location of locations" [value]="location.correlationId">
      {{ location.description }}
    </mat-option>
  </mat-select>
</mat-form-field>
{{selectedDistrict}}



<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let worker"> {{worker.name.first | slice:0:1}}. {{worker.name.last}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>