<div>
   <mat-toolbar class="mat-tall">
      <span>
        <div [ngStyle]="{'padding-top': '25px'}">
<mat-form-field>
  <input matInput [matDatepicker]="picker" [value]="date.value" placeholder="Select A Day" (dateInput)="addEvent('input', $event)">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
</div>
</span>
</mat-toolbar>
</div>

<mat-card *ngFor="let group of groupedData" class="example-card" [ngStyle]="{'padding':'0px'}">
<mat-card-header [ngStyle]="{'background-color': '#274e13'}">

<div class="rosterheader">
{{group.key | date:'EEEE'}} - {{group.key | date:'shortDate'}}
</div>

</mat-card-header>
 <mat-card-content>


<mat-accordion>
  <mat-expansion-panel *ngFor="let resource of group.value">
    <mat-expansion-panel-header>
      <mat-panel-title [ngStyle]="{'line-height':'1.7em'}">
      {{resource.name}}

        <mat-icon *ngIf="resource.isSick" class="sick" matTooltip="Sick" [matTooltipPosition]="'after'">add_box</mat-icon>
        <mat-icon *ngIf="resource.isMDA" class="sick" matTooltip="MDA" [matTooltipPosition]="'after'">remove_circle_outline</mat-icon>
        <div *ngIf="resource.chartDate.length > 0">
        <mat-icon *ngIf="resource.chartDate[0].ccFrom" class="sick" matTooltip="Chart Change" [matTooltipPosition]="'after'">copyright</mat-icon>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Charts Made: {{resource.chartsMade}}</p>
      </mat-expansion-panel>
  </mat-accordion>

</mat-card-content>
</mat-card>