.example-card {
    display: inline-block;
    width: 15%;
    margin: 5px;
    vertical-align: top;
    cursor: pointer;
}

.sick {
    margin-left: 2px;
    color: red;
    display: inline-flex;
    vertical-align: middle;
}

.rosterheader {
    padding: 5px;
    margin: auto;
    font-size: 20px;
    color: white;
    position:relative;
 	right:8px;
}

.mat-card-header-text {
	margin: 0;
}