<body>
	<mat-sidenav-container class="mat-drawer-container mat-sidenav-container mat-drawer-transition">
		<mat-toolbar class="headerBar">

			<button mat-icon-button (click)="sidenav.open()">
				<mat-icon >menu</mat-icon>
			</button>
			<span class="cursor-pointer">{{title}}</span>
			<div class="headerBottom">
			</div>

		</mat-toolbar>

		<mat-sidenav #sidenav>
			<mat-toolbar class="sideNavHead">{{title}}</mat-toolbar>
			<mat-nav-list>
				<mat-list-item>
					<a matLine href="/ui/select-application" (click)="sidenav.toggle()">
						<mat-icon>home</mat-icon> <span>Select Application</span>
					</a>
				</mat-list-item>
				<mat-list-item>
					<a matLine routerLink="/garage" (click)="sidenav.toggle()">
						<mat-icon>assignment</mat-icon> <span>Manage Personnel</span>
					</a>
				</mat-list-item>
				<mat-list-item>
					<a matLine routerLink="/roster" (click)="sidenav.toggle()">
						<mat-icon>list</mat-icon> <span>Chart Roster</span>
					</a>
				</mat-list-item>
			</mat-nav-list>
		</mat-sidenav>


		<div class="column fill">
			<mat-card class="mainCard">
				<router-outlet></router-outlet>
			</mat-card>
			

			
		</div>

	</mat-sidenav-container>
	<div class="logo"></div>

</body>


