.logo {
    width: 80px;
    height: 80px;
    top: 8px;
    fill: black;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 999;
    background: url(../assets/dsny.svg);
}

.fill {
    overflow:hidden;
    height:100vh;
    background-color: #e0e0e0;

}

.headerBar{
    background-color: #333333;
    color: #fff;
    height: 68px;
    }


.headerBottom{
    position: fixed;    
    max-height: 18px;
    min-height: 18px;
    background-color: #424242;
    z-index:2;
    left:0;
    right:0;
    top:50px;
    width: 100%

}

.sideNavHead{
    background-color: darkgreen;
    color:white;
    font-size: 16px;
    font-weight: 400;

}

.mainCard{
    margin-top:1%;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 10%;
    height:780px;
    overflow:auto;

}

::-webkit-scrollbar {
    width: 14px;
 }  

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 4px #49c107;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.3);
    border-radius: 5px;
}


