.personnelG{
    color: #000;
    background-color: #f9f9f9;
}

.personnel1{
    color: #FFF;
    background-color: #ff0a9b;  
}

.personnel2{
    color: #000;
    background-color: #e15a00; 
}

.personnel3{
    color: #fff;
    background-color: #873100;  
}


.personnel4{
    color: #000;
    background-color: #99FF00;
}

.personnel5{
    color: #000;
    background-color: #33CCFF;  
}

.personnel6{
    color: #000;
    background-color: #00AF01; 
}

.personnel7{
    color: #FFF;
    background-color: #FF0C00; 
}

.personnel8{
    color: #000;
    background-color: #FFFF99; 
}

.personnelCIV{
    color: #000;
    background-color: #FF7313;  
}

.personnelGS_I{
    color: #000;
    background-color: #34F1F8;
}

.personnelGS_II{
    color: #000;
    background-color: #00AF01;
}

.personnelGS_III{
    color: #000;
    background-color: #FFFF00;
}

.personnelGS_V{
    color: #000;
    background-color: #FFF; 
}

.personnelCOMM{
    color: #000;
    background-color: #FFF; 
}

.personnelDYCOMM{
    color: #000;
    background-color: #FFF;  
}

.personnelattached{
    color: #000;
    background-color: #FF897F;  
}

.personnelGS_I.attached{
    color: #000;
    background-color: #FF897F;
 }

.personnelCIV.attached{
    color: #000;
    background-color: #FF7313;
}

.backButton{
    height:45px;
    width:150px;
    color:#006400;
    text-align: center; 
    font-weight:bold;
    font-family: sans-serif;
    line-height: 2.8;
    float:left;

}

.backButton:hover{
    background-color: #E0EEE0 ;
    cursor: pointer;  
}

a.enabled {
    cursor: pointer;    
}

.actionButton{
    height: 30px;
    width: 80px;
    background-color: #006400;
    color:#fff;
    float:right;
    text-align: center;
    line-height: 2;
    box-shadow: -2px 4px 6px #C8C8C8;
    border-radius: 0.25rem;
    font-family: sans-serif;
    font-size:14px;
}
