/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');

@include mat-core();





$md-mcgpalette0: (
    50 : #e5eae3,
    100 : #becab8,
    200 : #93a789,
    300 : #68835a,
    400 : #476936,
    500 : #333333,
    600 : #234711,
    700 : #1d3d0e,
    800 : #17350b,
    900 : #0e2506,
    A100 : #7dff61,
    A200 : #53ff2e,
    A400 : #2cfa00,
    A700 : #27e100,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-mcgpalette1: (
    50 : #e5eae3,
    100 : #becab8,
    200 : #93a789,
    300 : #68835a,
    400 : #476936,
    500 : #274e13,
    600 : #234711,
    700 : #1d3d0e,
    800 : #17350b,
    900 : #0e2506,
    A100 : #7dff61,
    A200 : #53ff2e,
    A400 : #2cfa00,
    A700 : #27e100,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$primary: mat-palette($md-mcgpalette0, 500);
$accent:  mat-palette($md-mcgpalette0, 500, A200, A400);
$warn:    mat-palette($mat-red, 500);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

body {
    font-family: Roboto;
    font-weight: normal;
    margin: 0px;
    background-color: #e0e0e0;
    overflow:hidden;
    height: 100vh;
    width: 100vw;
}

h1, h2, h3, h4 {
    font-weight: normal;
}